:root.theme-dark {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --subtitle-text-color: #000028;
  --section-title-color: #FF0070;
  --decor-color: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
  --menu-color: #FF0070;
  --menu-hover-color: rgba(255, 0, 112, 0.4);
}

.theme-dark .header__rec {
  display: block;
}

.theme-dark .header__theme-menu-button {
  --menu-color: var(--accent-color);
  --menu-hover-color: rgba(255, 0, 112, 0.4);
}

.theme-dark .header__theme-menu-button_active {
  border-color: var(--accent-color);
}
