:root.theme_dark {
  --text-color: var(--pink-2, #f1b2ce);
  --brand-color: var(--purple-1, #db00ff);
  --secondary-color: var(--purple-2, #ff0070);
  --secondary-color-40: var(--purple-2-40, #ff007040);
  --accent-color: var(--purple-2, #ff0070);
  --highlight-color: var(--black-1, #000028);

  --page-background-color: var(--black-1, #000028);
  --page-background-image: url("../images/cover-image-dark.png");

  --rec-decor-visibility: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--pink-2, #f1b2ce);
    --brand-color: var(--purple-1, #db00ff);
    --secondary-color: var(--purple-2, #ff0070);
    --secondary-color-40: var(--purple-2-40, #ff007040);
    --accent-color: var(--purple-2, #ff0070);
    --highlight-color: var(--black-1, #000028);

    --page-background-color: var(--black-1, #000028);
    --page-background-image: url("../images/cover-image-dark.png");

    --rec-decor-visibility: visible;
  }
}
