/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --subtitle-text-color: #353430;
  --section-title-color: #353430;
  --decor-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --menu-color: #353430;
  --menu-hover-color: rgba(50, 49, 45, 0.4);
}

.theme-light .header__rec {
  display: none;
}

.theme-light .header__theme-menu-button {
  --menu-color: var(--text-color);
  --menu-hover-color: rgba(50, 49, 45, 0.4);
}

.theme-light .header__theme-menu-button_active {
  border-color: var(--text-color);
}
